@font-face {
  font-family: "Work Sans";
  src: url("/credencial/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url("/credencial/fonts/Work_Sans/WorkSans-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}
