@layer grid, gridMovil;
@import "grid-movil.css" layer(gridMovil);

@layer grid {
  section {
    display: block;

    &.bgd-primary {
      background-color: var(--color-primary);
    }

    &.bgd-secondary {
      background-color: var(--color-secondary);
    }

    &.bgd-tertiary {
      background-color: var(--color-tertiary);
    }

    &.bgd-quaternary {
      background-color: var(--color-quaternary);
    }
  }

  .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .col-4 {
    flex: 0 0 calc(calc(var(--column-size) * 4) - var(--gap));
    max-width: calc(calc(var(--column-size) * 4) - var(--gap));
  }

  .col-5 {
    flex: 0 0 calc(calc(var(--column-size) * 5) - var(--gap));
    max-width: calc(calc(var(--column-size) * 5) - var(--gap));
  }

  .col-6 {
    flex: 0 0 calc(50% - var(--gap));
    max-width: calc(50% - var(--gap));
  }

  .col-7 {
    flex: 0 0 calc(calc(var(--column-size) * 7) - var(--gap));
    max-width: calc(calc(var(--column-size) * 7) - var(--gap));
  }

  .col-8 {
    flex: 0 0 calc(calc(var(--column-size) * 8) - var(--gap));
    max-width: calc(calc(var(--column-size) * 8) - var(--gap));
  }

  .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
