@layer reset, root, grid, spacer, text, utilities;

@import "reset.css" layer(reset);
@import "root.css";
@import "grid.css";
@import "spacers.css";
@import "text.css";
@import "utilities.css";
@import "accordion.css" layer(accordion);

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100dvh;
  min-height: 100vh;
  padding: 0 var(--gap);
  color: var(--color-primary);
}

h2,
h3 {
  font-weight: var(--font-weight-normal);
}

.convenciones {
  display: flex;
  gap: var(--gap);
  max-width: 100%;

  .convencion {
    display: flex;
    gap: var(--gap);
    align-items: center;
    border-right: 1px solid var(--color-primary);
    padding-right: var(--gap);
    line-height: 1;

    span {
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }

    &.obl {
      span {
        background-color: var(--color-secondary);
      }
    }

    &.ele {
      span {
        background-color: var(--color-tertiary);
      }
    }

    &.ca {
      span {
        background-color: #000000;
        color: #ffffff;
        border-radius: 0;

        svg {
          transform: rotate(90deg);
        }
      }
    }
  }
}
