.tabs {
  .tab-labels {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
  }

  input[type="radio"] {
    display: none;
  }

  label {
    display: flex;
    min-height: 100px;
    justify-content: space-between;
    cursor: pointer;

    .number {
      min-width: 40px;
      max-width: 40px;
      color: var(--color-primary);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-weight: var(--font-weight-bold);

      &.obl {
        background-color: var(--color-secondary);
      }

      &.ele {
        background-color: var(--color-tertiary);
      }
    }

    p {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      text-align: center;
    }

    .actions {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      border-left: 1px solid #ffffff;

      span {
        font-size: calc(var(--font-size) + 4px);
        &.ca {
          background-color: #000000;
          color: #ffffff;
          width: 30px;
          height: 30px;
          visibility: hidden;

          svg {
            transform: rotate(90deg);
          }
        }
      }
    }
  }

  .tab-content {
    display: none;
  }
}

/* Show tab content when corresponding radio button is checked */
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

#tab1:checked ~ .tab-labels label[for="tab1"],
#tab2:checked ~ .tab-labels label[for="tab2"],
#tab3:checked ~ .tab-labels label[for="tab3"],
#tab4:checked ~ .tab-labels label[for="tab4"] {
  background-color: var(--color-primary);
  color: #ffffff;
}

#tab1:checked ~ .tab-labels label[for="tab1"] .ca,
#tab2:checked ~ .tab-labels label[for="tab2"] .ca,
#tab3:checked ~ .tab-labels label[for="tab3"] .ca,
#tab4:checked ~ .tab-labels label[for="tab4"] .ca {
  visibility: visible;
  border-bottom: 1px solid #fff;
  transition: ease-in-out;
}
