.tabs {
  .tab-labels {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
  }

  input[type="radio"] {
    display: none;
  }

  label {
    display: flex;
    min-height: 100px;
    justify-content: space-between;
    cursor: pointer;

    &::before {
      content: "";
      background-color: var(--color-primary);
      position: absolute;
      width: 0px;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;
    }

    .number {
      min-width: 40px;
      max-width: 40px;
      color: var(--color-primary);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-weight: var(--font-weight-bold);

      &.Obligatorio {
        background-color: var(--color-secondary);
      }

      &.Electivo {
        background-color: var(--color-tertiary);
      }
    }

    p {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      text-align: center;
    }

    .actions {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      border-left: 1px solid #ffffff;
      min-width: 30px;

      span {
        font-size: calc(var(--font-size) + 4px);
        &.ca {
          background-color: #000000;
          color: #ffffff;
          width: 0px;
          height: 30px;
          visibility: hidden;
          -webkit-transition: all 1s ease-in-out;
          -moz-transition: all 1s ease-in-out;
          -o-transition: all 1s ease-in-out;
          transition: all 1s ease-in-out;

          svg {
            transform: rotate(90deg);
          }
        }
      }
    }
  }

  .tab-content {
    display: none;
  }
}

/* Show tab content when corresponding radio button is checked */
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5,
#tab6:checked ~ #content6,
#tab7:checked ~ #content7,
#tab8:checked ~ #content8,
#tab9:checked ~ #content9,
#tab10:checked ~ #content10,
#tab11:checked ~ #content11,
#tab12:checked ~ #content12,
#tab13:checked ~ #content13 {
  display: block;
}

#tab1:checked ~ .tab-labels label[for="tab1"],
#tab2:checked ~ .tab-labels label[for="tab2"],
#tab3:checked ~ .tab-labels label[for="tab3"],
#tab4:checked ~ .tab-labels label[for="tab4"],
#tab5:checked ~ .tab-labels label[for="tab5"],
#tab6:checked ~ .tab-labels label[for="tab6"],
#tab7:checked ~ .tab-labels label[for="tab7"],
#tab8:checked ~ .tab-labels label[for="tab8"],
#tab9:checked ~ .tab-labels label[for="tab9"],
#tab10:checked ~ .tab-labels label[for="tab10"],
#tab11:checked ~ .tab-labels label[for="tab11"],
#tab12:checked ~ .tab-labels label[for="tab12"],
#tab13:checked ~ .tab-labels label[for="tab13"] {
  color: #ffffff;

  &::before {
    width: 100%;
  }
}

#tab1:checked ~ .tab-labels label[for="tab1"] .ca,
#tab2:checked ~ .tab-labels label[for="tab2"] .ca,
#tab3:checked ~ .tab-labels label[for="tab3"] .ca,
#tab4:checked ~ .tab-labels label[for="tab4"] .ca,
#tab5:checked ~ .tab-labels label[for="tab5"] .ca,
#tab6:checked ~ .tab-labels label[for="tab6"] .ca,
#tab7:checked ~ .tab-labels label[for="tab7"] .ca,
#tab8:checked ~ .tab-labels label[for="tab8"] .ca,
#tab9:checked ~ .tab-labels label[for="tab9"] .ca,
#tab10:checked ~ .tab-labels label[for="tab10"] .ca,
#tab11:checked ~ .tab-labels label[for="tab11"] .ca,
#tab12:checked ~ .tab-labels label[for="tab12"] .ca,
#tab13:checked ~ .tab-labels label[for="tab13"] .ca {
  visibility: visible;
  border-bottom: 1px solid #fff;
  width: 30px;
}
