@layer text {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-sans);
    color: var(--color-primary);
    line-height: 1.2;
    margin-bottom: var(--gap);

    span {
      color: var(--color-secondary);
    }

    &.icon {
      display: flex;
      align-items: center;
      gap: var(--gap);
      font-weight: var(--font-weight-normal);

      &.right {
        flex-direction: row-reverse;
        justify-content: flex-end;

        img {
          padding-left: var(--gap);
          border-left: 1px solid var(--color-primary);
        }
      }

      &.left {
        img {
          padding-right: var(--gap);
          border-right: 1px solid var(--color-primary);
        }
      }
    }

    &.decored {
      border-left: 5px solid var(--color-secondary);
      padding-left: 1rem;
    }

    &.lined {
      padding-top: 1rem;

      &::before {
        content: "";
        top: 0;
        left: 0;
        position: absolute;
        width: 100px;
        border-top: 5px solid var(--color-secondary);
      }
    }
  }

  h1 {
    font-weight: var(--font-weight-extrabold);
    font-size: clamp(2rem, 6vw, 3rem);
  }

  h2 {
    font-weight: var(--font-weight-bold);
    font-size: clamp(1.8rem, 5vw, 2.5rem);
  }

  h3 {
    font-weight: var(--font-weight-semibold);
    font-size: clamp(1.6rem, 4vw, 2rem);
  }

  h4 {
    font-weight: var(--font-weight-medium);
    font-size: clamp(1.4rem, 3vw, 1.8rem);
  }

  h5 {
    font-weight: var(--font-weight-normal);
    font-size: clamp(1.2rem, 2vw, 1.6rem);
  }

  h6 {
    font-weight: var(--font-weight-light);
    font-size: clamp(1rem, 1.5vw, 1.4rem);
  }

  p {
    font-size: var(--font-size);
  }

  ul {
    list-style: circle;
    padding: 0;
    margin: 0;
    font-size: var(--font-size);

    li {
      margin-left: calc(var(--gap) * 2);
      padding-bottom: var(--gap);
    }

    ::marker {
      color: var(--color-secondary);
    }
  }
}
